
.main-container{
    margin: auto;
    width: 450px;
    height: 350px;
    background-color: rgb(213, 211, 211);
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#text{
    margin: 5px;
    padding-left: 8px;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 420px;
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
#password{
    margin: 5px;
    padding-left: 8px;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 420px;
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
#pass{
    padding-left: 8px;
}
#name{
    padding-left: 8px;
}
#submitbtn{
    margin-left: 70px;
    border: none;
    border-radius: 7px;
    height: auto;
    width: 300px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
   padding: 8px 0;
    
}
.forgotpass{
    padding-left: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}
a{
    text-decoration: none;
}
#register{
    padding-left: 8px;
    margin-top: 50px;
}
